<h1><%=@venue.name%> - Added by: <%=link_to @venue.user.username, user_path(@venue.user)%> </h1>
<%= link_to('Delete Venue', venue_path(@venue), method: 'delete') %>

<% if @venue.user == current_user %>
<%= render @venue.concerts %>
<p><%= link_to 'Add a new concert', new_venue_concert_path(@venue)%></p>
<% end %>


