<h1><%=@venue.name%></h1>

<%= render @venue.concerts %>

<%= link_to "Edit Venue", edit_venue_path(@venue) %> |
<%= link_to('Delete Venue', venue_path(@venue), method: 'delete') %> |
<%= link_to "All Venues", venues_path %> 
<% end %>


