<h2>Band Name: <%= @concert.band_name%></h2>
<h3>Venue Name: <%= @concert.venue.name %></h3>
<h3>Concert Date: <%= @concert.date%><h3/>
<h3>Concert Start Time: <%= @concert.start_time%><h3/>



<%= link_to "Edit Concert", edit_concert_path(@concert) %> |
<%= link_to('Delete Concert', concert_path(@concert), method: 'delete') %>


 